src/.deps
*.o
*~
src/libroutino*
src/xml/.deps
extras/find-fixme/*
extras/statistics
extras/tagmodifier/.deps
extras/tagmodifier/tagmodifier
src/filedumper
src/filedumperx
src/filedumper-slim
src/find_nearest_node
src/find_nearest_node-slim
src/planetsplitter
src/planetsplitter-slim
src/router
src/router+lib
src/router+lib-slim
src/router-slim
src/xml/osc-skeleton*
src/xml/osm-skeleton*
src/xml/routino-osc-skeleton*
src/xml/routino-osm-skeleton*
src/xml/routino-profiles-skeleton*
src/xml/routino-tagging-skeleton*
src/xml/routino-translations-skeleton*
src/xml/xsd-skeleton*
src/xml/xsd-to-xmlparser
web/bin
web/www/routino
web/data/*.xml
xml/tagging-drive.xml
xml/tagging-ride.xml
xml/tagging-walk.xml

src/.idea
